<div class="container">
<h1>New list</h1>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2012/04/13/12/25/polaroid-32180_1280.png)">
<%= render "form", list: @list %>
</div>
    </div>
<br>

<div>
  <%= link_to "Back to lists", lists_path, class:"btn btn-outline-primary" %>
</div>
</div>
